@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  align-items: center;
  margin-top: 20px;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
}

ul.menu a {
  font-size: 1.1rem;
  font-family: "Nunito", sans-serif;
  color: #4b4952;
  margin: 0 20px;
}

ul.menu li a span::after {
  content: "";
  width: 18px;
  height: 8px;
  display: inline-block;
  background: url(./images/icon-arrow-down.svg) no-repeat center center;
  padding-right: 8px;
}

.nav ul.account li a {
  font-size: 1.1rem;
  font-family: "Nunito", sans-serif;
  color: #4b4952;
  margin: 0 20px;
  padding: 0 10px;
}
ul.account li:last-child a {
  border: solid 2px #79717a;
  border-radius: 1.0625rem;
  padding: 0.2rem 1.5625rem;
}

ul.account li:last-child a:hover {
  border: #000;
  background: #000;
  color: #fff;
}

.home-centro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.home-centro h1 {
  font-family: "Josefin sans", sans-serif;
  font-size: 4.375rem;
  line-height: 3.75rem;
  margin-bottom: 0.625rem;
}

.home-centro p {
  width: 25rem;
  font-size: 1.1rem;
  font-family: "Nunito", sans-serif;
  color: #4b4952;
  margin-bottom: 1.85rem;
}

.home-centro a {
  font-size: 1.1rem;
  font-family: "Nunito", sans-serif;
  color: #fff;
  background: #000;
  padding: 15px 20px;
  border-radius: 10px;
}

.home-centro a:hover {
  background: none;
  border: solid 2px #000;
  color: #000;
}

.client {
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
  position: relative;
  bottom: 20px;
}
